<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="rounded-lg bg-red-50 border border-red-200 p-4 mb-6">
    <div class="text-sm text-red-700">
      <ul class="list-disc list-inside space-y-1">
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
